<div class="footer">
    <div class="content">
        <div class="columns">
            <div class="column a">
                <div class="title">Çözüm ve Hizmetler</div>
                <div class="item">Yazılım Geliştirme</div>
                <div class="item">Outsourcing</div>
                <div class="item">Kalite ve Süreç Yönetimi</div>
                <div class="item">Danışmanlık</div>
                <div class="item">IoT Destekli Çözümler</div>
            </div>
            <div class="column b">
                <div class="title">Ürünler</div>
                <div class="item">Eğitim Yönetim Sistemi</div>
                <div class="item">İnsan Sermayesi Yönetim Sistemi</div>
                <div class="item">Müşteri İlişkileri Yönetim Sistemi</div>
                <div class="item">İçerik Yönetim Sistemi</div>
            </div>
            <div class="column c">
                <div class="title">Kurumsal</div>
                <div class="item">Hakkımızda</div>
                <div class="item">Belge ve Yetkinlikler</div>
                <div class="item">İş Ortakları</div>
            </div>
            <div class="column d">
                <div class="title">İletişim</div>
                <div class="item">Bilgi İstek Formu</div>
                <div class="item">Uzman Talep Formu</div>
            </div>
        </div>
        <div class="below-columns">
            <div class="text">© Copyright 2010-2021 - Can Çevik</div>
            <div class="social-media">
                <img class="icon" src="/assets/iconf1.png">
                <img class="icon" src="/assets/iconf2.png">
                <img class="icon" src="/assets/iconf3.png">
                <img class="icon" src="/assets/iconf4.png">
                <img class="icon" src="/assets/iconf5.png">
            </div>
        </div>
    </div>
</div>


