
@import "mixins";
@import "variables";

:host{
    display: block;
}

.heder{
    position: relative;
    padding: 258px 0 148px; 
    background-image: url("/assets/background-heder.png");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat; 
}  

.nav-bar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.content-heder{ 
    @include latime;
}

.title{
    font-size:var(--title-font-size);
    line-height: 80px;
    font-weight: 800;
    color: rgba(0, 0, 0, 1);
    width: 100%;
    max-width: 665px;
}

.description{
    font-size:var(--description-font-size);
    line-height: 36px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    width: 100%;
    max-width: 650px;
    margin: 20px 0 50px;
}

.input{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items:stretch;
    padding: 6px;
    border-radius: 8px;
    background-color:rgba(255, 255, 255, 1);
    width: 100%;
    max-width: 422px;
 
}

.email{
    box-sizing: border-box;
    font-size: 16px;
    line-height: 36px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.4);
    padding:14px 24px;
    border: none;
    outline: none;
    cursor: pointer; 
}

.button{
    font-size: 16px;
    line-height:36px;
    font-weight: bold;
    color:rgba(255, 255, 255, 1);
    padding: 14px 38px;
    border-radius: 8px;
   background-color: rgba(248, 70, 70, 1);
}


@media screen and (max-width:$max-width-break-point) {
    .heder{
        padding:137px 0 84px;
     }
    .title{
        display: block;
        margin: auto;
        text-align: center;
    }
    .description{
        display: block;
        margin: auto;
        text-align: center;
        margin-bottom: 30px ;
    }
    .input{
        margin: auto;
    }
    .email{
        font-size: 14px;
        line-height: 20px;
        padding: 16px 18px;
      }
      .button{
        font-size: 14px;
        line-height: 20px;
        padding:16px 18px;
      }
}

.section-a{
    padding: 120px 0;
    @include latime;
}

.title-sec-a{
    font-size: 36px;
    line-height: 49px;
    font-weight: 800;
    color: rgba(0, 0, 0, 1);
    text-align: center;
}

.description-sec-a{
    display: block;
    margin: auto;
    text-align: center;
    font-size: var(--description-medium-font-size);
    line-height: 40px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    width: 100%;
    max-width:994px;
    padding: 30px 0;
}


@media screen and (max-width:$max-width-break-point){
    .description-sec-a{
        width: 100%;
        max-width: 852px;
    }
}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:stretch;
    gap: 80px;
    margin: 60px 0 20px;
}

.section-b{
    position: relative;
    padding: 68px 0 78px;
    color: rgba(255, 255, 255, 1);
    background-color:rgba(248, 70, 70, 1) ;
   
   
}

.background-image{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url("/assets/bg-sec-b.png");
    mix-blend-mode: lighten;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
   
}

.content-sec-b{
    @include latime;
}

.title-sec-b{
    display: block;
    margin: auto;
    @include title-mdium-extrabold;
    text-align: center;
}

.description-sec-b{
    display: block;
    margin: auto;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    text-align: center;
    margin-top: 12px;
}

.texts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    gap:40px;
    margin-top: 78px;

}

.text-sec-b{
    font-size: 18px;
    line-height: 32px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    // width: 100%;
    // max-width: 199px; /varianta ok ar fi asa dar am un br provizoriu (discutabil)
}

@media screen and (max-width:$max-width-break-point){
    .text-sec-b{
        display: block;
        margin: auto;
        text-align: center;
        width: 100%;
    }
}

.icon-sec-b{
    height: 32px;
}

@media screen and (max-width:$max-width-break-point){
    .icon-sec-b{
        display: block;
        margin: auto;
        transform: rotate(90deg);
    }
}

.section-c{
    display: flex;
    flex-direction: column;
    gap:120px;
    padding: 160px 0;
    @include latime;
}

.section-d{
    padding: 59px 0;
    background-color: rgba(244, 245, 247, 1);
}

.content-sec-d{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    @include latime;
}

.title-sec-d{
    @include title-mdium-extrabold;
    color: rgba(24, 25, 31, 1);
}

.description-sec-d{
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
    color: rgba(24, 25, 31, 1);
    margin-top: 5px;
    text-align: center;
}

@media screen and (max-width:$max-width-break-point){
    .description-sec-d{
        font-size: 13px;
        line-height: 32px;
    }
}


.logos{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    gap:24px;
    margin-top: 48px;
}

.logos-small{
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    margin-top: 48px;
}

.logos-small .background{
    flex-shrink: 0;
    flex-grow: 0;
}

.column{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

@media screen and (max-width:1040px){
    .logos{
       display: none;
    }
    .logos-small{
        display: flex;
    }
    .d,.e{
      display: none;
    }
}



.background{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 100px;
    border-radius: 15px;
    background-color: white;
}

.section-e{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 160px 0;
}

.icon-sec-e{
    background-image: url("/assets/icon-sec-e.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 120px;
    height: 120px;
    
}

.circle{
    position: absolute;
    top:6px;
    right: 4px;
    width: 61px;
    height: 61px;
    border-radius: 50%;
    background-color: rgba(248, 70, 70, 1);
    z-index:-1;
}

.title-sec-e{
    display: block;
    margin: auto;
    @include title-mdium-extrabold;
    color:rgba(0, 0, 0, 1);
    margin-top: 10px;
}

.description-sec-e{
    display: block;
    margin: auto;
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    margin: 20px 0 30px;
    text-align: center;
}

@media screen and (max-width:$max-width-break-point){
    .description-sec-e{
        font-size: 13px;
        line-height: 25px;
    }
}

.button-sec-e{
    font-size: 24px;
    line-height: 1;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    padding: 25px 40px;
    border-radius: 8px;
    background-color: rgba(248, 70, 70, 1);
}