

@import "./mixins";
@import "./variables";

body{
    margin: 0;
    padding: 0;
    border: 0;
    --title-font-size:64px;
    --title-medium-extrabold:48px;
    --title-small-font-size:24px;
    --description-font-size:20px;
    --description-medium-font-size:24px;
    --font-small:16px;
}



*{
    font-family: 'Manrope',sans-serif;
}

@media screen and (max-width:$max-width-break-point) {
    body{
        --title-font-size:41px;
        --title-medium-extrabold:36px;
        --description-font-size:12px;
        --description-medium-font-size:12px;
        --font-small:14px;
        

    }
}